@model User

@{
    ViewData["Title"] = "Welkom";
    var items = ViewBag.Items as IEnumerable<MyClientProject.Models.Item>;
}

<h1>U bent ingelogd als gast, je kan producten kopen maar je krijgt geen overzicht, wil je toch account aanmaken? <a asp-controller="Home" asp-action="Account" class="btn btn-secondary" style="text-decoration: underline;"> klik hier </a></h1>
<h3>Kies een product @Model.Name met korting @Model.Discount %</h3>
@if (items != null && items.Any())
{
    <ul class="list-unstyled" style="display: flex; flex-wrap: wrap; gap: 10px; padding: 0;">
        @foreach (var item in items)
        {
            <li style="list-style-type: none; border: 1px solid #ccc; border-radius: 8px; padding: 15px; width: 250px;">
                <h5>@item.Name</h5>
                <p><strong>Categorie:</strong> @item.Category</p>
                <p>
                    <strong>Prijs:</strong>
                    @if (@Model.Discount > 0)
                    {
                        <span style="color: red; text-decoration: line-through;">
                            @item.Price.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("nl-NL"))
                        </span>
                        <span>
                            @((item.Price - (item.Price * @Model.Discount / 100))
                                .ToString("C", System.Globalization.CultureInfo.GetCultureInfo("nl-NL")))
                        </span>
                    }
                    else
                    {
                        @item.Price.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("nl-NL"))
                    }
                </p>
                <p><strong>Gewicht:</strong> @item.Weight kg</p>
                <p><strong>Levertijd:</strong> @item.DeliveryDays dagen</p>
                <p><strong>Beschrijving:</strong> @item.Description</p>
                <p><strong>Voorraad:</strong> @item.StockQuantity stuks</p>
                <a asp-controller="Shop" asp-action="Item" asp-route-itemId="@item.ItemId" class="btn btn-secondary ml-2">
                    Details
                </a>
                <a asp-controller="User" asp-action="AddToShoppingList" asp-route-itemId="@item.ItemId" class="btn btn-outline-primary ml-2">
                    Koop
                </a>
            </li>
        }
    </ul>
}
else
{
    <p>Geen producten gevonden.</p>
}