@model Item

@{
    ViewData["Title"] = "Item Details";
}

<h2>Details van @Model.Name</h2>

<div class="mb-2">
    <label><strong>Naam:</strong></label>
    <div>@Model.Name</div>
</div>

<div class="mb-2">
    <label><strong>Categorie:</strong></label>
    <div>@Model.Category</div>
</div>

<div class="mb-2">
    <label><strong>Prijs:</strong></label>
    <div>€ @Model.Price.ToString("0.00")</div>
</div>

<div class="mb-2">
    <label><strong>Gewicht:</strong></label>
    <div>@Model.Weight kg</div>
</div>

<div class="mb-2">
    <label><strong>Leverdagen:</strong></label>
    <div>@Model.DeliveryDays dagen</div>
</div>

<div class="mb-2">
    <label><strong>Voorraad:</strong></label>
    <div>@Model.StockQuantity stuks</div>
</div>

<div class="mb-2">
    <label><strong>Beschrijving:</strong></label>
    <div>@Model.Description</div>
</div>
<a asp-controller="User" asp-action="AddToShoppingList" asp-route-itemId="@Model.ItemId" class="btn btn-outline-primary ml-2">Koop</a>
<a asp-controller="Shop" asp-action="Index" class="btn btn-secondary">Terug</a>
